<div class="container">
    <div class="caja1">
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fc/MisundazztodAlbum.jpg/220px-MisundazztodAlbum.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">M!ssundaztood - 2010</p>
             </div>
      </div>
</div>
<div class="caja2" >
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/81q1wyRpHiL._SL1500_.jpg" class="card-img-left" alt="...">
        <div class="card-body">
          <p class="card-text">Beautiful Trauma - 2017</p>
        </div>
      </div>
</div>
<div class="caja3" ><div class="card" style="width: 18rem;">
    <img src="https://m.media-amazon.com/images/I/81NmNGNv+4L._SL1500_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Funhouse - 2008</p>
    </div>
  </div>
</div>
<div class="caja4" >
    <div class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Pink_-_The_Truth_About_Love_%28logotipo%29.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">The Truth About Love - 2012</p>
        </div>
      </div>
</div>
<div class="caja5" >
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/41+7W1rfpQL.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Can't Take Me Home - 2000</p>
        </div>
      </div>
</div>
<div class="caja6" >
    <div class="card" style="width: 18rem;">
        <img src="https://studiosol-a.akamaihd.net/uploadfile/letras/albuns/b/9/7/d/1077501621007904.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">All I Know So Far: Setlist - 2021</p>
        </div>
      </div>
</div>
<div class="caja7" >
    <div class="card" style="width: 18rem;">
        <img src="https://img.cdandlp.com/2018/04/imgL/119132598.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Try This - 2003</p>
        </div>
      </div>
</div>
<div class="caja8" >
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/814aCIUwdnL._SL1500_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Hurts 2B Human - 2019</p>
        </div>
      </div>
</div>
<div class="caja9" >
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/81G1KH3MRGL._SL1500_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">I'm Not Dead - 2006</p>
        </div>
      </div>
</div>
<div class="caja10" >
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/616lvyH4SVL._SL1200_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Greatest Hits... So Far!!! - 2010</p>
        </div>
      </div>
</div>
<div class="caja11" >
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/41TVpJ295mL.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">The Album Collection - 2010</p>
        </div>
      </div>
</div>
<div class="caja12" >
    <div class="card" style="width: 18rem;">
        <img src="https://cf.shopee.com.br/file/33b6f8c759fbca6bce7467e9bfda8b4a_tn" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">iTunes Festival: London 2012 </p>
        </div>
      </div>
</div>
</div>