<div class="h1 container box1">Alecia Beth Moore (Doylestown, Pensilvania, 8 de septiembre de 1979)</div>
<div class=" box2 p container">
    Más conocida por su nombre artístico Pink (estilizado como P!nk), es una cantante, compositora, bailarina, acróbata
    y actriz estadounidense.
</div>
 <div class="p box3 container">
    <img class="imgh"src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Pink_2019-07-27_Munich_%28cropped%29.jpg/250px-Pink_2019-07-27_Munich_%28cropped%29.jpg" alt="">
    Saltó a la fama a principios de la década de 2000 al lanzar el sencillo «There You Go», de su primer álbum R&B,
    Can't Take Me Home, en abril de 2000, a través de LaFace Records. Su segundo álbum orientado al pop rock,
    Missundaztood, el cual inició un marcado cambio en el sonido de su música, fue lanzado en noviembre de 2001 con los
    sencillos top 10: «Get the Party Started», «Don't Let Me Get Me», «Just Like a Pill» y «Family Portrait». P!nk lanzó
    su tercer álbum, Try This, en noviembre de 2003, el cual vendió 3 millones de copias y ganó un Grammy por mejor
    interpretación vocal rock femenina por el sencillo «Trouble». Lanzó su cuarto álbum de estudio I'm Not Dead en abril
    de 2006, con éxitos como: «Stupid Girls», «U + Ur Hand» y «Who Knew», estos últimos llegaron al número 1 en los
    charts pop. Su quinto álbum, Funhouse, fue lanzado en octubre de 2008 y fue precedido por el sencillo número 1 del
    Billboard Hot 100 titulado «So What». El disco alcanzó otros tres top veinte: «Sober», «Please Don't Leave Me» y
    «Glitter in the Air», además de una exitosa gira mundial.

    Greatest Hits... So Far!!! fue lanzado en noviembre de 2010, un álbum de grandes éxitos junto a los sencillos «Raise
    Your Glass» y «Fuckin' Perfect». Para septiembre de 2012, lanza su sexto álbum de estudio The Truth About Love,1​
    ubicándose en el primer lugar de la lista Billboard 200, a finales de año había vendido cerca de 2 millones de
    copias mundialmente. En 2014, Pink grabó un álbum en colaboración con el cantante canadiense Dallas Green, bajo el
    nombre del dúo You+Me, titulado Rose Ave. En 2017 lanzó su séptimo álbum de estudio titulado Beautiful Trauma,
    convirtiéndose en el tercer álbum más vendido del año mundialmente con 1.8 millones de copias.2​

    Reconocida por su voz distintiva, áspera y su presencia acrobática en el escenario,3​ fue considerada por Billboard
    como la decimotercera en la lista de artistas más influyentes de la década 2000 y la artista número 1 de canciones
    pop de esa década.4​ P!nk ha vendido 50 millones de discos y 75 millones de sencillos alrededor del mundo,
    convirtiéndola en una de las cantantes con mayores ventas.5​ Ha marcado quince top 10 en el Billboard Hot 100 en
    Estados Unidos, incluyendo once como artista en solitario, y ha ganado tres Premios Grammy, seis MTV Video Music
    Awards y dos Brit Awards. Pink fue también la segunda artista solista más tocada en el Reino Unido, durante la
    década de 2000, detrás de Madonna. VH1 la colocó en el décimo puesto en su lista de las 100 mejores mujeres en la
    música,6​ mientras que Billboard le otorgó el premio a la mujer del año en 2013.7​ En la 63ª edición anual de
    Premios BMI Pop, recibió el premio BMI President por "sus logros sobresalientes en la composición de canciones" y el
    impacto global en la cultura pop y la industria del entretenimiento. </div>